{% extends 'base.html.twig' %}

{% block body %}
	<h1>Bienvenue dans ce blog</h1>

	<p>
		<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quod voluptatem, labore distinctio beatae nam consequatur provident enim error eaque necessitatibus ex, impedit sequi possimus, tempora quisquam voluptates aspernatur esse.</span>
		<span>Soluta nostrum nihil, laudantium quis placeat illo ab sint quidem optio neque, nesciunt consectetur voluptates, dolore aut cumque? Deleniti laudantium molestiae eius quas aliquid veritatis ut minima doloribus adipisci rem!</span>
	</p>

	<p>
		<span>Merci à Lior Chamla pour la playlist de Symfony en 4 heures : https://www.youtube.com/playlist?list=PLpUhHhXoxrjdQLodxlHFY09_9XzqdPBW8</span>
	</p>

{% endblock %}
